@model IEnumerable<EmpWebApp.Models.Department>

@{
    ViewBag.Title = "Departments";
}

<h2>Departments</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary" })
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.DepartmentId, @class = "btn btn-warning" }) |
                    @Html.ActionLink("Details", "Details", new { id = item.DepartmentId, @class = "btn btn-info" }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.DepartmentId, @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
