@model IEnumerable<EmpWebApp.Models.Employee>

@{
    ViewBag.Title = "Admin Employee List";
}

<h2>Admin Employee List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Department.DepartmentName</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.EmployeeId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EmployeeId })
                </td>
            </tr>
        }
    </tbody>
</table>
